:root {
  --content-max-width: 1440px;
  --content-padding: 0 50px;
  --primary-color: #08509d;
  --primary-red-color: #d43e35;
  --primary-hover-red-color: #b92f27;
  --primary-light-color: #cee1f5;
  --light-gray-color: #f8f8f8;
  --darker-gray-color: #aaaaaa;
  --box-shadow: 0px 5px 15px var(--primary-light-color);
}

.desktop-logo {
  position: absolute;
  top: 0;
  height: 115px;
  display: block;
  padding: 10px;
  background-color: white;
  width: auto;
}

.mobile-logo {
  display: none;
}

.content-container {
  max-width: var(--content-max-width);
  margin: 200px auto;
  padding: var(--content-padding);
  width: 100%;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 90px;
  background-color: #ffffff;
  max-width: 100vw;
}

.align-end {
  align-self: flex-end;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: auto;
  cursor: pointer;
  z-index: 100;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  margin: 2.5px 0;
}

.pulseMarker {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pulseMarker-relative {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

.marker-outer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary-red-color);
  animation: pulse 2s infinite;
  opacity: .4;
  position: absolute;
}

.marker-inner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-red-color);
  position: absolute;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.link-container-background {
  top: -100%;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.link-container {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.link-container a {
  margin: 20px 0;
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  color: #08509d;
  text-decoration: none;
}

.link-container .nuxt-link-exact-active {
  color: var(--primary-red-color);
}

.link-container-background.burger-active {
  transition: all 0.3s ease-in-out;
  top: 90px;
  right: 0;
  display: flex;
  padding-top: 50px !important;
  padding: var(--content-padding);
  opacity: 1;
}

/*burger lines to cross*/
.burger-active .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(3px, 5px);
}

.burger-active .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-active .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-color);
  color: var(--primary-light-color);
  padding: 50px 0 35px 0;
}

.footer-content a{
  color: var(--primary-light-color) !important;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content-container .footer-content {
  min-width: 250px;
}

.footer-logo-container {
  height: 70px;
  width: 70px;
  position: absolute;
  background-color: var(--light-gray-color);
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 4px solid var(--primary-color);
}

.footer-pfaff-logo {
  height: 35px;
  width: 35px;
  margin-left: 5px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px !important;
  padding-top: 30px;
  border-top: 2px solid var(--primary-light-color);
}

.footer-links a {
  margin-right: 20px;
  font-size: 18px;
  line-height: normal;
  color: var(--primary-light-color);
  text-decoration: none;
}

.image-container {
  width: 100%;
  height: 70vh;
  position: relative;
  max-width: var(--content-max-width);
  margin: 150px auto 0;
  padding: var(--content-padding);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}

.portfolio-items-categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.pf-card {
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
}

.pf-card:hover {
  text-decoration: none;
  color: #000000;
}

.card-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px 20px 50px 20px;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.card-content::after {
  content: '';
  display: block;
  background-image: url('/arrow.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 50px;
  height: 40px;
  transition: 0.3s ease-in-out;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(335px, calc(100% / 3 - 20px))
  );
  grid-template-rows: auto;
  grid-gap: 20px;
}

.pf-card:hover .card-content::after {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

.pf-card:hover {
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-5px) !important;
  box-shadow: 0px 10px 15px var(--primary-light-color);
}

.card:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  background-color: var(--primary-red-color);
  color: #ffffff;
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--primary-hover-red-color);
}

/* Row Component */
.content-image-container {
  width: 100%;
  height: 100%;
}

.content-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.newsletter-email-input {
  width: 100% !important;
}

/* Block Renderer */
.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(335px, calc(100% / 3 - 20px))
  );
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.product-card::after {
  content: '';
  display: block;
  background-image: url('/arrow.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 50px;
  height: 40px;
  transition: 0.3s ease-in-out;
}

.product-card:hover::after {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 15px var(--primary-light-color) !important;
  transform: translateY(-5px) !important;
  transition: 0.3s ease-in-out;
}

.product-card-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-card-content {
  padding: 20px 20px 50px 20px;
}

.product-category {
  color: var(--primary-color);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--primary-light-color);
  padding: 5px;
  border-radius: 2px;
  margin-right: 5px;
}

/* News und Medien */
.article-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article {
  padding: 20px 20px 50px 20px;
  box-shadow: var(--box-shadow);
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: .3s ease-in-out;
}

.article::after {
  content: '';
  display: block;
  background-image: url('/arrow.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 50px;
  height: 40px;
  transition: 0.3s ease-in-out;
}

.article:hover {
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-5px) !important;
  box-shadow: 0px 10px 15px var(--primary-light-color);
}

.article:hover::after {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

.article-image {
  min-width: 200px;
  width: 200px;
  height: 100%;
  margin-right: 20px;
  display: flex;
  align-content: center;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.article-content h4 {
  margin: 0;
}

.content-preview img {
  display: none;
}

/* news und medien || slug page */

.article-background {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 40px;
}

.article-informations {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.article-information {
  color: var(--primary-color);
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 10px;
}

.information-row {
  margin-bottom: 20px;
}

.blog-content img {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .content-container {
    margin: 130px auto;
  }
  
  .article {
    display: flex;
    flex-direction: column;
  }

  .article-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(335px, calc(100% / 2 - 10px))
    );
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
  }
}
