@media (max-width: 1000px) {

  :root {
    --content-padding: 20px;
  }

  /* .desktop-logo {
    display: none;
  } */

  .mobile-logo {
    display: block;
  }

  .col-lg-6, .col-12 {
    padding: 0px !important;
  }

  .row {
    margin: 0px !important;
  }

  .content-image {
    margin-bottom: 20px;
  }

  label {
    margin-top: 10px;
  }

  form {
    margin-bottom: 50px;
  }

  .content-margin {
    margin-top: 100px;
  }
}

@media (max-width: 800px) {
  .burger {
    justify-content: center;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      100%
    );
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
  }

  .footer {
    padding: 50px 0 0 0;
  }

  .footer-content {
    margin-bottom: 20px;
  }

  .footer-content-container {
    display: flex;
    flex-direction: column;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    margin-bottom: 10px;
  }

  .copyright {
    margin-top: 10px;
    font-size: 12px;
  }

  .link-container-background.burger-active {
    transition: all 0.3s ease-in-out;
    top: 90px;
    right: 0;
    display: flex;
    padding-top: 50px !important;
    opacity: 1;
  }

  .link-container-background.burger-active .link-container {
    margin: 0;
  }
  
  .article-content {
    width: 100%;
  }

  
}